<div id="hdr-glblalc" style="margin-bottom: 60px; top: 0px;"><div id="con-glblalc"><ul id="nav-glblalc"><div class="con-label"><span>Other Alcon websites:</span></div><li id="patients-glblalc"><span>For Patients</span><div class="wrapper-menuitem"><div class="con-menuitem" style="top: -430px;"><div class="con-menublck-fl"><div style="height:122px;"><div class="colhalf colborder"><h2>Contact Lenses and Care</h2><h3>Contact Lenses:</h3><ul class="ltr"><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.airoptix.com');return true;">AIR OPTIX<sup>®</sup></a></li><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.dailies.com');return true;">DAILIES<sup>®</sup></a></li><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.freshlookcontacts.com');return true;">FreshLook<sup>®</sup></a></li></ul><h3>Contact Lens Solutions:</h3><ul class="ltr"><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.clearcaresolution.com');return true;">CLEAR CARE<sup>®</sup></a></li><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.opti-free.com');return true;">OPTI-FREE<sup>®</sup></a></li></ul></div><div class="colhalf" style="width:54%;"><h2>Resources</h2><div style="width:53%;float: left;"><h3>Education:</h3><ul><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.myeyes.com');return true;">myeyes.com</a></li></ul><h3>Rebates:</h3><ul><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.alconchoice.com');return true;">AlconChoice.com</a></li></ul></div><div style="width:47%;float: left;"><h3>Manage Your<br> Eye Care:</h3><ul><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.eyefile.com');return true;">EyeFile™ System</a></li></ul><h3>Savings Center:</h3><ul><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.theeyesolution.com');return true;">The Eye Solution</a></li></ul><h3>Patient Assistance:</h3><ul><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', ' true;">Alcon Cares, Inc.</a></li></ul></div></div></div></div><div class="con-menublck-md"><div style="height:105px;"><h2>Prescription Products</h2><div class="colpatientfirst"><ul><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.pazeodrops.com');return true;">Eye Allergies</a></li><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.vigamox.com');return true;">Eye Infection</a></li></ul></div><div class="colpatientsecond"><ul><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'patanase.com');return true;">Nasal Allergies</a></li><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.ciprodex.com (Ear)');return true;">Ear Infection</a></li></ul></div><div class="colpatientthird"><ul><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.myglaucomasupport.com');return true;">Glaucoma</a></li></ul></div><h2>Over-the-Counter Products</h2><div class="colpatientonethird"><h3>Eye Health:</h3><ul><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.systane.com');return true;">SYSTANE<sup>®</sup></a></li></ul></div><div class="colpatientonethird"><h3>Eye Allergies:</h3><ul><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.zaditor.com');return true;">ZADITOR<sup>®</sup></a></li></ul></div><div class="colpatientonethird"><h3>Eye Vitamins:</h3><ul><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.icapsvitamins.com');return true;">ICAPS<sup>®</sup></a></li></ul></div></div></div><div class="con-menublck-mdsm"><div style="height:105px;"><h2>Eye Surgery</h2><h3>Cataracts:</h3><ul><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', ' true;">Cataract Surgery</a></li></ul><h3>LASIK:</h3><ul><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'contouravision.com');return true;">Your LASIK Solution</a></li></ul></div></div><a href="#" class="close_button">&nbsp;&nbsp;&nbsp;</a></div></div></li><li id="professionals-glblalc"><span>For Professionals</span><div class="wrapper-menuitem"><div class="con-menuitem" style="top: -518px;"><div class="con-menublck-md"><div style="height:125px;"><h2>Surgical</h2><div class="coltwothirds"><h3>Cataract:</h3><ul><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', ' true;">Cataract IOLs</a></li><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'contouravision.com');return true;">Cataract Refractive Lasers</a></li><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', ' true;">Cataract Equipment</a></li><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.alconsurgical.com/ophthalmic-surgical-instruments.aspx');return true;">Cataract Disposables</a></li></ul><h3>Vitreoretinal:</h3><ul><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.alconretina.com');return true;">Vitreoretinal Technology</a></li></ul></div><div class="colonethird"><h3>Refractive:</h3><ul><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', ' true;">Refractive Lasers</a></li></ul><h3>Glaucoma:</h3><ul><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.alconglaucomasurgery.com');return true;">Filtration Device</a></li><li><a href="">Micro-Invasive Glaucoma Surgery</a></li></ul></div></div></div><div class="con-menublck-mdsm"><div style="height:125px;"><h2>Professional Resources</h2><ul><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.myalcon.com');return true;">myalcon</a></li><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.myalcon.com/tools-resources/openings/patient-support-program.shtml');return true;">OPENINGS<sup>®</sup> Program</a></li></ul></div></div><div class="con-menublck-md"><div style="height:71px;"><h2>Vision Care</h2><div class="colhalf"><h3>Contact Lenses:</h3><ul><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.myalcon.com-ContactLenses');return true;">myalcon</a></li></ul></div><div class="colhalf"><h3>Contact Lens Care:</h3><ul><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.myalcon.com/products/contact-lens-care/opti-free-solution/technology.shtml');return true;">OPTI-FREE<sup>®</sup> Solutions</a></li></ul></div></div></div><div class="con-menublck-mdsm"><div style="height:71px;"><h2>Tools &amp; Calculators</h2><ul><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.acrysoftoriccalculator.com');return true;">AcrySof<sup>®</sup> Toric IOL Calculator</a></li><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.alconsurgical.com/avs-download.aspx');return true;">AcrySof<sup>®</sup> IOL Vision Simulator</a></li><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'virtualconsultant.alcon.com');return true;">Virtual Consultant</a></li></ul></div></div><a href="#" class="close_button">&nbsp;&nbsp;&nbsp;</a></div></div></li><li id="websites-glblalc"><span>More Websites</span><div class="wrapper-menuitem"><div class="con-menuitem" style="top: -85px;"><div class="con-menublck-fl"><div style="height:32px;"><h2>More Websites</h2><ul class="ltr"><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.novartis.com');return true;">Novartis</a></li><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.alcon.com-OterSitesMenu');return true;">Alcon</a></li><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.myalcon.com-OtherSitesMenu');return true;">myalcon</a></li><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.myeyes.com-OtherSitesMenu');return true;">myeyes.com</a></li></ul></div></div><a href="#" class="close_button">&nbsp;&nbsp;&nbsp;</a></div></div></li></ul><ul id="utilnav-glblalc"><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.alcon.com-OtherSitesMenu');return true;">Alcon</a></li><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.alcon.com/terms-of-use.aspx');return true;">Legal</a></li><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.alcon.com/privacy-policy.aspx');return true;">Privacy Policy</a></li></ul></div></div>





<div id="header_separator" class="separator"></div>












<!-- Google Tag Manager (noscript) -->
<noscript></noscript>
<script type="text/javascript">
var langTH = "en";
var cntyTH = "US";
</script>
<!-- End Google Tag Manager (noscript) -->


    <div class="body-wrap">
        <!-- Header start  -->
        <header class="header-main boldfont" id="header-main" style="position: fixed; top: 43px;">
<!-- # header -->
	<div id="header" class="header"><div class="container">{{page.header}}</div></div>
  <div class="header-overlay"></div>
<!-- // header -->

</header> 

<div class="lang-mob">

</div>

        <!-- End header  -->

        <div class="main-wrap">
            <!-- # home -->
            <a name="home" class="bookmark"></a>
            <div class="page" id="home">{{page.content}}</div>
            <!-- // home -->
        </div>

        <!-- Footer start -->
          <!-- # footer -->
  <div class="coupon-mask"></div>  
  <footer class="footer-wrap footer-open" id="footer-wrap">
    <div class="footer-fixed-wrap">
    <div id="footer-fixed" class="footer-fixed" style="position: fixed;">
      <div class="footer_gradient"></div>
		<section class="footer-content">{{page.secondary_menu}}</section>

    <!-- # free trial draw -->
    <!--<section class="freetrial-draw colors-hide-mobile">
      <div class="freetrial-token-wrap">        
        <div class="freetrial-token">
          <div class="freetrial-token-cnt">
            <a href="" class="token-img _gaData {C:'c9', A:'c9_a', L:'c9_a_0'}">
              <img class="footer_free_trail" src="" alt="AIR OPTIX&reg; COLORS contact lenses Free&dagger; Trial Offer"/>
            </a>
            <div class="token-desc">
              <a href="" class="free-trial-link caps fleft _gaData {C:'c9', A:'c9_a', L:'c9_a_0'}">
                <span class="color1 txt-bold">Get your free<sup style="top: -0.75em">&dagger;</sup> In-Office trial offer</span>
                <span class="token-desc-body color5">FOR AIR OPTIX<sup>&reg;</sup> COLORS contact lenses</span>
                <i></i>
              </a>
            </div>
          </div>
          <a href="javascript:void(0);" class="close-coupon" id="close-coupon"><span>Close</span><i></i></a>
        </div>
        
      </div>
      <div class="freetrial-desc-wrap">
        <div class="freetrial-desc">
          <h2 class="color4 caps txt-book font-chng">AIR OPTIX<sup class="small_sup">&reg;</sup> COLORS Free<sup class="small_sup draggersup">&dagger;</sup> Trial Offer</h2>
          <h4 class="subhead font-chng">Don't settle for anything less</h4>
          <p class="txt-book desc font-chng">Don't wait to get a dazzling new look. Log in or register through the EyeFile<sup>&trade;</sup> System <br/>for a free membership<br /> to Get Your Free<sup>&dagger;</sup> In-Office Trial Offer. 
		  </p>
          <div class="coupon-link-wrap">
			  <a href="" target="_blank" class="coupon-link _gaData {C:'c6', A:'c6_a', L:'c6_a_0'}">
				<img src="" class="visible-desktop visible-tab desk_tab" alt="Free &dagger; trial offer AIR OPTIX &reg; COLORS breathable* contact lenses" />
				<img src="" class="visible-mobile hidden-desktop" alt="Free &dagger; trial offer AIR OPTIX &reg; COLORS breathable* contact lenses" />
			  </a>
			  <a href="" target="_blank" class="btn2 txt-bold _gaData {C:'c6', A:'c6_a', L:'c6_a_0'}">GET FREE<sup>&dagger;</sup> IN-OFFICE TRIAL</a>
		  </div>

          <div class="clearfix">
            <a href="" class="ft-link visible-desktop hidden-tab hidden-mobile print_removed caps _gaData {C:'c6', A:'c6_b', L:'c6_b_1'}" target="_blank">
              Print <span></span> <img src="" alt=""/>
            </a>
            <a href="" class="ft-link ft-ecp caps _gaData {C:'c6', A:'c6_b', L:'c6_b_0'}">
              <img src="" alt=""/> Find an Eye Doctor Near You <span></span> 
            </a>
          </div>
        </div>
      </div>
      <div class="freetrial-bg1"></div>
      <div class="freetrial-bg2"></div>-->
	  	<a href="https://www.airoptix.com/colors/colors.shtml#" class="scroll_top_button" style="position: fixed;"><img src="" class="top_arrow_mobile">
		</a>
    <!--</section>-->

    <!-- // free trial draw -->

    </div>
    </div>
	<div class="clear"></div>
    <div id="footer-expand" class="footer-expand" style="display: block;"><div class="footer-content clearfix">{{page.footer}}</div></div>
  </footer>


  <!-- // footer -->
        <!-- Footer end -->

        




<!--
-->










       
        
        <!--<div class="overlay" id="youtubeVid">
              <a class="close txt-bold"><span>Close</span></a>
                          
        </div>-->
    </div>


<div id="mob-hdr-glblalc"><div id="mob-con-glblalc"><ul id="mob-nav-glblalc"><div class="con-label"><span>Other Alcon websites:</span></div><li id="mob-patients-glblalc" class="menu-head"><span>For Patients</span><div class="wrapper-menuitem"><div class="con-menuitem"><div class="con-menublck-fl"><h2>Contact Lenses and Care</h2><div class="colhalf colborder"><h3>Contact Lenses:</h3><ul class="ltr"><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.airoptix.com');return true;">AIR OPTIX<sup>®</sup></a></li><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.dailies.com');return true;">DAILIES<sup>®</sup></a></li><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.freshlookcontacts.com');return true;">FreshLook<sup>®</sup></a></li></ul></div><div class="colhalf"><h3>Contact Lens Solutions:</h3><ul class="ltr"><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.clearcaresolution.com');return true;">CLEAR CARE<sup>®</sup></a></li><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.opti-free.com');return true;">OPTI-FREE<sup>®</sup></a></li></ul></div><h2>Resources</h2><div class="colhalf"><h3>Education:</h3><ul class="ltr"><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.myeyes.com');return true;">myeyes.com</a></li></ul><h3>Choose A Contact Lens:</h3><ul class="ltr"><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.contactlenspro.com');return true;">Contact Lens Pro</a></li></ul></div><div class="colhalf"><h3>Manage Your Eye Care:</h3><ul class="ltr"><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.eyefile.com');return true;">EyeFile™ System</a></li></ul><h3>Savings Center:</h3><ul class="ltr"><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.theeyesolution.com');return true;">The Eye Solution</a></li></ul><h3>Patient Assistance:</h3><ul class="ltr"><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', ' true;">Alcon Cares, Inc.</a></li></ul></div></div><div class="con-menublck-md"><h2>Prescription Products</h2><div class="colhalf"><ul><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.pazeodrops.com');return true;">Eye Allergies</a></li></ul><ul><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.patanase.com');return true;">Nasal Allergies</a></li></ul><ul class="ltr"><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.myglaucomasupport.com');return true;">Glaucoma</a></li></ul></div><div class="colhalf"><ul><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.vigamox.com');return true;">Eye Infection</a></li><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.ciprodex.com (Ear)');return true;">Ear Infection</a></li></ul></div><h2>Over-the-Counter Products</h2><div class="colhalf"><div class="colpatientonethird"><h3>Eye Health:</h3><ul class="ltr"><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.systane.com');return true;">SYSTANE<sup>®</sup></a></li></ul></div></div><div class="colhalf"><div class="colpatientonethird"><h3>Eye Allergies:</h3><ul class="ltr"><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.zaditor.com');return true;">ZADITOR<sup>®</sup></a></li></ul></div></div><div class="colhalf"><div class="colpatientonethird"><h3>Eye Vitamins:</h3><ul class="ltr"><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.icapsvitamins.com');return true;">ICAPS<sup>®</sup></a></li></ul></div></div></div><div class="con-menublck-mdsm"><h2>Eye Surgery</h2><div class="colhalf"><h3>Cataracts:</h3><ul class="ltr"><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.reclaimyourvision.comcom/cataracts.aspx');return true;">Cataract Surgery</a></li></ul></div><div class="colhalf"><h3>LASIK:</h3><ul class="ltr"><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.reclaimyourvision.comcom/lasik.aspx');return true;">Your LASIK Solution</a></li></ul></div></div></div></div></li><li id="mob-professionals-glblalc" class="menu-head"><span>For Professionals</span><div class="wrapper-menuitem"><div class="con-menuitem"><div class="con-menublck-md"><h2>Surgical</h2><div class="colhalf"><h3>Cataract:</h3><ul class="ltr"><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', ' true;">Cataract IOLs</a></li><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.lensxlasers.com');return true;">Cataract Refractive Lasers</a></li><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', ' true;">Cataract Equipment</a></li><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.alconsurgical.com/ophthalmic-surgical-instruments.aspx');return true;">Cataract Disposables</a></li></ul><h3>Vitreoretinal:</h3><ul class="ltr"><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.alconretina.com');return true;">Vitreoretinal Technology</a></li></ul></div><div class="colhalf"><h3>Refractive:</h3><ul class="ltr"><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', ' true;">Refractive Lasers</a></li></ul><h3>Glaucoma:</h3><ul class="ltr"><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.alconglaucomasurgery.com');return true;">Filtration Device</a></li></ul></div></div><div class="con-menublck-mdsm"><h2>Professional Resources</h2><ul class="ltr"><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.myalcon.com');return true;">myalcon</a></li><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.myalcon.com/tools-resources/openings/patient-support-program.shtml');return true;">OPENINGS<sup>®</sup> Program</a></li></ul><div class="colhalf"></div></div><div class="con-menublck-md"><h2>Vision Care</h2><div class="colhalf"><h3>Contact Lenses:</h3><ul class="ltr"><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.myalcon.com-ContactLenses');return true;">myalcon</a></li></ul></div><div class="colhalf"><h3>Contact Lens Care:</h3><ul class="ltr"><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.myalcon.com/products/contact-lens-care/opti-free-solution/technology.shtml');return true;">OPTI-FREE<sup>®</sup> Solutions</a></li></ul></div></div><div class="con-menublck-mdsm"><h2>Tools &amp; Calculators</h2><ul class="ltr"><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.acrysoftoriccalculator.com');return true;">AcrySof<sup>®</sup> Toric IOL Calculator</a></li><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.alconsurgical.com/avs-download.aspx');return true;">AcrySof<sup>®</sup> IOL Vision Simulator</a></li><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'virtualconsultant.alcon.com');return true;">Virtual Consultant</a></li></ul></div></div></div></li><li id="mob-websites-glblalc" class="menu-head"><span>More Websites</span><div class="wrapper-menuitem"><div class="con-menuitem"><div class="con-menublck-fl"><div class="colhalf"><h2>More Websites</h2><ul class="ltr"><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.novartis.com');return true;">Novartis</a></li><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.alcon.com-OterSitesMenu');return true;">Alcon</a></li><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.myalcon.com-OtherSitesMenu');return true;">myalcon</a></li><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.myeyes.com-OtherSitesMenu');return true;">myeyes.com</a></li></ul></div></div></div></div></li></ul><ul id="mob-utilnav-glblalc"><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.alcon.com-OtherSitesMenu');return true;">Alcon</a></li><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.alcon.com/terms-of-use.aspx');return true;">Legal</a></li><li><a target="_blank" href="" onclick="recordOutboundLink(this, 'CPN Clicks', 'www.alcon.com/privacy-policy.aspx');return true;">Privacy Policy</a></li></ul></div></div><div id="footer_separator" class="separator"></div>
